

<% content_for :body_content_right do %>

<div id="header">
	<div class="wrap">
		<div id="slide-holder">
			<div id="slide-runner">
				<% i = 1 %>
				<% @page.images.each do |image| %>
				   	<a href=""><img id="slide-img-<%=i%>" src=<%= image.thumbnail('900x460#c').url %> class="slide" alt=""></a>
				   	<% i += 1 %>
				<% end %>
				<div id="slide-controls">
					<p id="slide-client" class="text"><strong>post: </strong><span></span></p>
					<p id="slide-desc" class="text"></p>
					<p id="slide-nav"></p>
				</div>
			</div>
		</div>
	</div>
</div>


<% end %>

<%= render '/refinery/content_page' %>

<script type="text/javascript">
if(!window.slider) var slider={};slider.data=[
	{"id":"slide-img-1","client":"nature beauty","desc":"nature beauty photography"},
	{"id":"slide-img-2","client":"nature beauty","desc":"add your description here"},
	{"id":"slide-img-3","client":"nature beauty","desc":"add your description here"},
	{"id":"slide-img-4","client":"nature beauty","desc":"add your description here"},
	{"id":"slide-img-5","client":"nature beauty","desc":"add your description here"},
	{"id":"slide-img-6","client":"nature beauty","desc":"add your description here"},
	{"id":"slide-img-7","client":"nature beauty","desc":"add your description here"}];
</script>