#page_container{
	padding-left: 10%;
	padding-right: 10%;
	/*width:90%;*/
}

#logo{
	text-align: center;
	background: #000000 "vulture-logo.jpg" ;
}

.menu{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

a{
	color:#7a7a7a;
}

a:hover{
	color: #2a2a2a;
}