	<%= link_to image_tag("vulture-logo.jpg", width:"20%"), refinery.root_path, style:"padding-left:40%;"%>
<div class="row one">
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
</div>